html,body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    /* background-color: lightblue; */
    background-color: blue;
    margin: 0px;
}

.tile{

}

.description{

}

.link-to-all{

}

.button{

}